body{
    background-image: linear-gradient(#a0d2eb, #e5eaf5);
    background-size: cover;
}
#home-page{
    text-align: center;
}
#register-button{
    font-size: 12px;
    font-family: 'Lucida Grande', 'Lucida Sans Regular', 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    border: 1px solid #72777b;
    background-color: #eeeeed;
    padding: 3px 5px 3px 5px;
    border-radius: 10%;
}
#register-button:hover{
    background-color: #d3d3d3;
}

#header {
    text-align: center;
    height: 100px;
}

#login {
    padding-top: 5%;
    text-align: center;
}

#register-button{
    margin-left: 120px;
}

#login-button{
    margin-left: 5px;
}
